@font-face {
    font-family: 'French';
    src: local('French'), url(./resources/FrenchScriptMT.ttf) format('truetype');
  }

  .french-font {
    font-family: French, Arial, serif;
    font-weight: black;
}

body {
  margin: 0;
}

.fade-enter {
  opacity: 0;
  /* transform: translate(0, 25px); */
  /* z-index: 1; */
}
.fade-enter.fade-enter-active {
  opacity: 1;
  /* transform: translate(0, 0); */

  /* transition: opacity 1000ms ease-out, transform 300ms ease; */
  transition: opacity 300ms ease-out;
}
.fade-exit {
  opacity: 1;
  /* transform: translate(0, 0); */
}
.fade-exit.fade-exit-active {
  opacity: 0;
  /* transform: translate(0, 30px); */

  /* transition: opacity 1000ms ease-out, transform 300ms ease; */
  transition: opacity 300ms ease-out;
}

.parallax {
  /* The image used */
  background-image: url("./resources/forest.jpg");

  /* Set a specific height */
  min-height: 100vh; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-position: top 64px center; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
